doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Stylish Portfolio - Start Bootstrap Theme
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/stylish-portfolio.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    |     
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    |     
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        |             
        li.sidebar-brand
          a(href='#top', onclick='$("#menu-close").click();') Start Bootstrap
        |             
        li
          a(href='#top', onclick='$("#menu-close").click();') Home
        |             
        li
          a(href='#about', onclick='$("#menu-close").click();') About
        |             
        li
          a(href='#services', onclick='$("#menu-close").click();') Services
        |             
        li
          a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
        |             
        li
          a(href='#contact', onclick='$("#menu-close").click();') Contact
    // Header
    header#top.header
      .text-vertical-center
        h1 S
        |             
        h3 We support your business with experience, knowledge and love.
        |             
        br
        |             
        a.btn.btn-dark.btn-lg(href='#about') Find Out More
    // About
    section#about.about
      .container
        .row
          .col-lg-12.text-center
            h2 
            |                     
            p.lead
              | We are wishing to contribute our knowledge and experience with love. 
              a(target='_blank', href='') Please visit our facebook
              | .
        // /.row
      // /.container
    // Services
    // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
    section#services.services.bg-primary
      .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h2 Our Services
            |                     
            hr.small
            |                     
            .row
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    |                                 
                    i.fa.fa-cloud.fa-stack-1x.text-primary
                  |                                 
                  h4
                    strong On-demand Software
                  |                                 
                  p We provide on-demand software suite for your business.
                  If you're looking for in-house software, or responsive homepage for your business.
                  |                                 
                  a.btn.btn-light(href='#') Learn More
              |                         
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    |                                 
                    i.fa.fa-compass.fa-stack-1x.text-primary
                  |                                 
                  h4
                    strong Training and tutorial.
                  |                                 
                  p Knowledge is the foundation of everything. Based on our practical experience, We provide multiple courses, ie., Industrial Robot, Robot Systems, Automation Simulation, 3D Modeling Design with solidworks.
                    Additionally, we are planing to open university or college tutorial course.
                  |                                 
                  a.btn.btn-light(href='#') Learn More
              |                         
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    |                                 
                    i.fa.fa-flask.fa-stack-1x.text-primary
                  |                                 
                  h4
                    strong Service Name
                  |                                 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  |                                 
                  a.btn.btn-light(href='#') Learn More
              |                         
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    |                                 
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  |                                 
                  h4
                    strong Service Name
                  |                                 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  |                                 
                  a.btn.btn-light(href='#') Learn More
            // /.row (nested)
          // /.col-lg-10
        // /.row
      // /.container
    // Callout
    aside.callout
      .text-vertical-center
        h1 Vertically Centered Text
    // Portfolio
    section#portfolio.portfolio
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h2 Our Work
            |                     
            hr.small
            |                     
            .row
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='img/portfolio-1.jpg')
              |                         
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='img/portfolio-2.jpg')
              |                         
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='img/portfolio-3.jpg')
              |                         
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='img/portfolio-4.jpg')
            // /.row (nested)
            a.btn.btn-dark(href='#') View More Items
          // /.col-lg-10
        // /.row
      // /.container
    // Call to Action
    aside.call-to-action.bg-primary
      .container
        .row
          .col-lg-12.text-center
            h3 The buttons below are impossible to resist.
            |                     
            a.btn.btn-lg.btn-light(href='#') Click Me!
            |                     
            a.btn.btn-lg.btn-dark(href='#') Look at Me!
    // Map
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3874.861695142266!2d100.57230471452586!3d13.787209800187307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x30e29c2d2ae5458d%3A0x2569a7f23af7a08a!2s252%2F115-115+Thanon+Ratchadaphisek%2C+Khwaeng+Din+Daeng%2C+Khet+Din+Daeng%2C+Krung+Thep+Maha+Nakhon+10400%2C+Thailand!3m2!1d13.787204599999999!2d100.5744934!5e0!3m2!1sen!2s!4v1488102691904')
      |         
      br
      |         
      small
        a(href='https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3874.861695142266!2d100.57230471452586!3d13.787209800187307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x30e29c2d2ae5458d%3A0x2569a7f23af7a08a!2s252%2F115-115+Thanon+Ratchadaphisek%2C+Khwaeng+Din+Daeng%2C+Khet+Din+Daeng%2C+Krung+Thep+Maha+Nakhon+10400%2C+Thailand!3m2!1d13.787204599999999!2d100.5744934!5e0!3m2!1sen!2s!4v1488102691904')
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong Contact us
            |                     
            p
              | Ratchada-pisek Rd. 
              br
              | Huaykwang, Bangkok, Thailand
            |                     
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                |  (+66) 099-529-4809
              |                         
              li
                i.fa.fa-envelope-o.fa-fw
                |  
                a(href='mailto:name@example.com') sirsak@gmail.com
            |                     
            br
            |                     
            ul.list-inline
              li
                a(href='#')
                  i.fa.fa-facebook.fa-fw.fa-3x
              |                         
              li
                a(href='#')
                  i.fa.fa-twitter.fa-fw.fa-3x
              |                         
              li
                a(href='#')
                  i.fa.fa-dribbble.fa-fw.fa-3x
            |                     
            hr.small
            |                     
            p.text-muted Copyright &copy; Your Website 2014
      |         
      a#to-top.btn.btn-dark.btn-lg(href='#top')
        i.fa.fa-chevron-up.fa-fw.fa-1x
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
      $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
      if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
      //#to-top button appears after scrolling
      var fixed = false;
      $(document).scroll(function() {
      if ($(this).scrollTop() > 250) {
      if (!fixed) {
      fixed = true;
      // $('#to-top').css({position:'fixed', display:'block'});
      $('#to-top').show("slow", function() {
      $('#to-top').css({
      position: 'fixed',
      display: 'block'
      });
      });
      }
      } else {
      if (fixed) {
      fixed = false;
      $('#to-top').hide("slow", function() {
      $('#to-top').css({
      display: 'none'
      });
      });
      }
      }
      });
      // Disable Google Maps scrolling
      // See http://stackoverflow.com/a/25904582/1607849
      // Disable scroll zooming and bind back the click event
      var onMapMouseleaveHandler = function(event) {
      var that = $(this);
      that.on('click', onMapClickHandler);
      that.off('mouseleave', onMapMouseleaveHandler);
      that.find('iframe').css("pointer-events", "none");
      }
      var onMapClickHandler = function(event) {
      var that = $(this);
      // Disable the click handler until the user leaves the map area
      that.off('click', onMapClickHandler);
      // Enable scrolling zoom
      that.find('iframe').css("pointer-events", "auto");
      // Handle the mouse leave event
      that.on('mouseleave', onMapMouseleaveHandler);
      }
      // Enable map zooming with mouse scroll when the user clicks the map
      $('.map').on('click', onMapClickHandler);
